{% extends'::base.html.twig' %}
{% block body %}

    <div class="btn-group">
        <button type="button" id="vorspeisen"  class="btn btn-default">Vorspeise</button>
        <button type="button" id="hauptspeisen" class="btn btn-default">Hauptgang</button>
        <button type="button" id="nachspeise"  class="btn btn-default">Nachspeise</button>
    </div>

    $json_file = @file_get_contents('https://spoonacular-recipe-food-nutrition-v1.p.mashape.com/recipes/findByIngredients?ingredients=apples%2Cflour%2Csugar&limitLicense=false&number=5&ranking=1');
    $json_array = json_decode($json_file);



    <div class="section">
        Sektion 2
    </div>


    <script type="text/javascript">
        $(document).ready(function(){
            $("#vorspeisen").click(function(){
                $('.section').before('<p>Test</p>');
            });
        });
        $(document).ready(function(){
            $("#hauptspeisen").click(function(){
                $('.section').before('<p>Test</p>');
            });
        });
        $(document).ready(function(){
            $("#nachspeise").click(function(){
                $('.section').before('<p>Test</p>');
            });
        });
    </script>
{% endblock %}