{% extends 'base.html.twig' %}

{% block body %}
    <h3> Hallo hallo </h3>
    <img src="/images/img1.gif">



<!-- Script to Activate the Carousel -->
    {% block javascripts %}
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>
        {% endblock %}

{% endblock %}

