{% extends 'base.html.twig' %}

{% block body %}
    <div class="slider">
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('/images/img1.gif');"></div>
                <div class="carousel-caption">
                    <h2>Finde das passende Rezept f&uumlr dich</h2>
                    <a class="ghost_btn" href="#">Anmelden</a>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/images/img2.gif');"></div>
                <div class="carousel-caption">
                    <h2>Was magst du heute Essen?</h2>
                    <a class="ghost_btn" href="#">Anmelden</a>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/images/img3.jpeg');"></div>
                <div class="carousel-caption">
                    <h2>Melde dich schnell an, damit du dir deine Rezepte suchen kannst!</h2>
                    <a class="ghost_btn" href="#">Anmelden</a>
                </div>
            </div>
        </div>
    </div>


<!-- Script to Activate the Carousel -->
    {% block javascripts %}
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>
        {% endblock %}

{% endblock %}

