{% extends 'base.html.twig' %}

{% block body %}

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Positionsanzeiger -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Verpackung für die Elemente -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img id="image" src="/images/img1.gif" alt="...">
                <div class="carousel-caption">
                    <h3>wuuuhuuuu</h3>
                    <p>blablabla</p>
                    <a class="ghost_btn" href="{{ path('fos_user_security_login') }}">Anmelden</a>
                </div>
            </div>
            <div class="item">
                <img id="image" src="/images/img2.gif" alt="...">
                <div class="carousel-caption">
                    <h3>wuuuhuuuu</h3>
                    <p>blablabla</p>
                    <a class="ghost_btn" href="{{ path('fos_user_security_login') }}>Anmelden</a>
                </div>
            </div>
            <div class="item">
                <img id="image" src="/images/img3.gif" alt="...">
                <div class="carousel-caption">
                    <h3>wuuuhuuuu</h3>
                    <p>blablabla</p>
                    <a class="ghost_btn" href="{{ path('fos_user_security_login') }}>Anmelden</a>
                </div>
            </div>

        </div>

        <!-- Schalter -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Zurück</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Weiter</span>
        </a>
    </div>



<!-- Script to Activate the Carousel -->
    {% block javascripts %}
        <script>

        </script>
        {% endblock %}

{% endblock %}

